<!DOCTYPE html>
<html
    xmlns:th="http://www.thymeleaf.org"
>
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous"> 
<link href="https://fonts.googleapis.com/css2?family=Handlee&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

</head>
<body>
	<nav class="navbar navbar-dark bg-dark">
		<ul class="nav justify-content-center">
			<li class="nav-item">
			  <a class="nav-link" href="index.html">Home</a>
			</li>
			<li class="nav-item">
			  <a class="nav-link" href="produto.html">Produto</a>
			</li>
			<li class="nav-item">
			  <a class="nav-link" href="orgao-fiscalizador.html">Orgao Fiscalizador</a>
			</li>
			<li class="nav-item">
			  <a class="nav-link" href="orgao-donatario.html">Orgao Donatario</a>
			</li>
			<li class="nav-item">
			  <a class="nav-link" href="">Lote</a>
			</li>
		  </ul>
	  </nav>
	
</body>
</html>