<!DOCTYPE html>
<html
    xmlns:th="http://www.thymeleaf.org"
>
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous"> 
<link href="https://fonts.googleapis.com/css2?family=Handlee&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

</head>
<body>
	<nav class="navbar navbar-dark bg-dark">
		<ul class="nav justify-content-center">
			<li class="nav-item">
			  <a class="nav-link" href="#">Home</a>
			</li>
			<li class="nav-item">
			  <a class="nav-link" href="../admin/produto.html">Produto</a>
			</li>
			<li class="nav-item">
			  <a class="nav-link" href="../admin/orgao-fiscalizador.html">Orgao Fiscalizador</a>
			</li>
			<li class="nav-item">
			  <a class="nav-link" href="../admin/orgao-donatario.html">Orgao Donatario</a>
			</li>
			<li class="nav-item">
			  <a class="nav-link" href="../admin/lote.html">Lote</a>
			</li>
		  </ul>
	  </nav>
	<div style="display: flex; align-items: center; justify-content: center;">  <h2>Formulario de Lote</h2> </div>
	<form id="lote-form" onSubmit="cadastrarLote()" style="margin: 50px;">
		<div class="form-group">
		    <label>Orgao Fiscalizador</label>
		    <select id="idOrgaoFiscalizador" class="form-control" required></select>
	  	</div>
	  	<div class="form-group">
		    <label>Orgao Donatario</label>
		    <select class="form-control" id="idOrgaoDonatario" required></select>
	  	</div>
	  	<div class="form-group">
		   	<label>Data de Entrega </label><br>
		   	<input id="dataEntrega" type="date" required>
		</div>
	  	<div class="form-group">
			<label for="descricaoLote">Descricao</label>
		    <textarea class="form-control" id="descricaoLote" rows="3"></textarea>
		</div>
		<div class="form-group">
			<label>Produtos</label>
			<table id="tabelaProdutos" class="table table-striped">
				<thead>
			      	<tr>
				        <th scope="col">#</th>
				        <th scope="col">Nome</th>
				        <th scope="col">Descricao</th>
				        <th scope="col">Quantidade</th>
			      	</tr>
			    </thead>
			</table>
			
		</div>
		<div>
			<input type="submit" class="btn btn-success" style="width: 100%;">
		</div>
	</form>
	<script src="../../assets/JS/lote-form-get.js"></script>
	<script src="../../assets/JS/lote-post.js"></script>
</body>
</html>