<!DOCTYPE html>
<html
    xmlns:th="http://www.thymeleaf.org"
>
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous"> 
<link href="https://fonts.googleapis.com/css2?family=Handlee&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

</head>
<body>
	<nav class="navbar navbar-dark bg-dark">
	  <ul class="nav justify-content-center">
		  <li class="nav-item">
		    <a class="nav-link" href="/admin/index">Home</a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link" href="/admin/produto">Produto</a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link" href="/admin/orgao-fiscalizador">Orgao Fiscalizador</a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link" href="/admin/orgao-donatario">Orgao Donatario</a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link" href="/admin/lote">Lote</a>
		  </li>
		</ul>
	</nav>
	<div style="display: flex; align-items: center; justify-content: center;">  <h2>Formulario de Lote</h2> </div>
	<form action="/lote/form" method="post" style="margin: 50px;">
		<div class="form-group" th:if="${orgaosFiscalizadores}">
		    <label for="exampleFormControlSelect1">Orgao Fiscalizador</label>
		    <select name="idOrgaoFiscalizador" class="form-control" id="exampleFormControlSelect1" >
		      <option th:each="orgaoFiscalizador : ${orgaosFiscalizadores}" th:text="${orgaoFiscalizalidor.nomeOrgaoFiscalizador}" th:value="${orgaoFiscalizalidor.idOrgaoFiscalizador}"></option> 
		    </select>
	  	</div>
	  	<div class="form-group" th:if="${orgaosDonatarios}">
		    <label for="exampleFormControlSelect1">Orgao Donatario</label>
		    <select name="idOrgaoDonatario" class="form-control" id="exampleFormControlSelect1" >
		      <option th:each="orgaoDonatario : ${orgaosDonatarios}" th:text="${orgaoDonatario.nomeOrgaoDonatario}" th:value="${orgaoDonatario.idOrgaoDonatario}"></option> 
		    </select>
	  	</div>
	  	<div class="form-group" th:if="${produtos}">
	  		<label>Produtos</label>
	  		<table>
	  			<th th:each="produto : ${produtos}">
	  				<td th:value="${produto.nomeProduto}"></td>
	  				<td th:value="${produto.descricaoProduto}"></td>
	  				<td>
	  					<a th:href="@{/lote/addProduto/{codigoProduto}(codigoProduto = ${produto.codigoProduto})}"><button type="button" class="btn btn-success">+</button></a> |
                    	<a th:href="@{/pedido/removeProduto/{codigoProduto}(codigoProduto = ${produto.codigoProduto})}"><button type="button" class="btn btn-danger">-</button></a>
	  				</td>
	  				<span th:each="p : ${lote.produtos}">
	  					<td th:if="${p.key == produto.nomeProduto} ? th:value='${p.value}' : ''">
	  				</span>
	  			</th>
	  		</table>
	  	</div>
	  	<div class="form-group">
			<label for="exampleFormControlTextarea1">Descricao</label>
		    <textarea name="descricaoLote" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
		</div>
		<div>
			<input type="submit" th:class="btn btn-success" th:text="Cadastrar" style="width: 100%;">
		</div>
	</form>
	
</body>