<!DOCTYPE html>
<html
    xmlns:th="http://www.thymeleaf.org"
>
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous"> 
<link href="https://fonts.googleapis.com/css2?family=Handlee&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

</head>
<body>
	<nav class="navbar navbar-dark bg-dark">
	  <ul class="nav justify-content-center">
		  <li class="nav-item">
		    <a class="nav-link" href="/admin/index">Home</a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link" href="/admin/produto">Produto</a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link" href="/admin/orgao-fiscalizador">Orgao Fiscalizador</a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link" href="/admin/orgao-donatario">Orgao Donatario</a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link" href="/admin/lote">Lote</a>
		  </li>
		</ul>
	</nav>
	<div style="display: flex; align-items: center; justify-content: center;">  <h2>Formulario Orgao Donatario</h2> </div>
	<form th:action="/orgao-donatario/form" th:method="${orgaoDonatarioEdit} ? 'put' : 'post'" style="margin: 50px;">
		<div th:if="${orgaoDonatarioEdit}">
			<input type="hidden" th:value="${orgaoDonatarioEdit.idOrgaoDonatario}">
		</div>
		<div class="form-row">
			<div class="form-group col-md-6">
		    	<label for="inputNome">Nome</label>
		    	<input type="text" th:value="${orgaoDonatarioEdit} ? ${orgaoDonatarioEdit.nomeOrgaoDonatario} : ''" class="form-control" id="inputNome" placeholder="Nome do Orgao Donatario">
		   	</div>
		   	<div class="form-group col-md-6">
		      	<label for="inputTelefone">Telefone</label>
		      	<input type="number" th:value="${orgaoDonatarioEdit} ? ${orgaoDonatarioEdit.telefoneOrgaoDonatario} : ''" class="form-control" id="inputTelefone" placeholder="81 9 99999999">
		    </div>
		</div>
		<div class="form-group">
	    	<label for="inputAddress">Endereco</label>
			<input type="text" class="form-control" id="inputAddress" placeholder="Rua, numero, CEP, Cidade, Estado, Pais.">
		</div>
		<div class="form-group">
			<label for="exampleFormControlTextarea1">Horarios de funcionamento</label>
		    <textarea th:value="${orgaoDonatarioEdit} ? ${orgaoDonatarioEdit.horarioFuncionemento} : ''" name="horarioFuncionemento" class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Segunda - Sexta : 08h - 17h &#10;Sabado, Domingo e Feriados : 09h - 15h"></textarea>
		</div>
		<div class="form-group">
			<label for="exampleFormControlTextarea1">Descricao</label>
		    <textarea name="descricaoOrgaoDonatario" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
		</div>
		<div>
			<input type="submit" th:class="${orgaoDonatarioEdit} ? 'btn btn-warning' : 'btn btn-success'" th:text="${orgaoDonatarioEdit} ? 'Editar' : 'Cadastrar'" style="width: 100%;">
		</div>