<!DOCTYPE html>
<html
    xmlns:th="http://www.thymeleaf.org"
>
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous"> 
<link href="https://fonts.googleapis.com/css2?family=Handlee&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

</head>
<body>
	<nav class="navbar navbar-dark bg-dark">
		<ul class="nav justify-content-center">
			<li class="nav-item">
			  <a class="nav-link" href="../admin/index.html">Home</a>
			</li>
			<li class="nav-item">
			  <a class="nav-link" href="../admin/produto.html">Produto</a>
			</li>
			<li class="nav-item">
			  <a class="nav-link" href="../admin/orgao-fiscalizador.html">Orgao Fiscalizador</a>
			</li>
			<li class="nav-item">
			  <a class="nav-link" href="../admin/orgao-donatario.html">Orgao Donatario</a>
			</li>
			<li class="nav-item">
			  <a class="nav-link" href="../admin/lote.html">Lote</a>
			</li>
		  </ul>
	  </nav>
	<div style="display: flex; align-items: center; justify-content: center;">  <h2>Formulario Orgao Donatario</h2> </div>
	<form onsubmit="cadastrarDonatario()" id="orgao-donatario-form" style="margin: 50px;" >
		<div class="form-row">
			<div class="form-group col-md-6">
		    	<label for="nomeOrgaoDonatario">Nome</label>
		    	<input id="nomeOrgaoDonatario" type="text"  class="form-control" id="inputNome" placeholder="Nome do Orgao Donatario">
		   	</div>
		   	<div class="form-group col-md-6">
		      	<label for="telefoneOrgaoDonatario">Telefone</label>
		      	<input id="telefoneOrgaoDonatario" type="number" class="form-control" id="inputTelefone" placeholder="81 9 99999999">
		    </div>
		</div>
		<div class="form-group">
	    	<label for="enderecoOrgaoDonatario">Endereco</label>
			<input id="enderecoOrgaoDonatario" type="text" class="form-control" placeholder="Rua, numero, CEP, Cidade, Estado, Pais.">
		</div>
		<div class="form-group">
			<label for="horarioFuncionemento">Horarios de funcionamento</label>
		    <textarea id="horarioFuncionemento" class="form-control" rows="3" placeholder="Segunda - Sexta : 08h - 17h &#10;Sabado, Domingo e Feriados : 09h - 15h"></textarea>
		</div>
		<div class="form-group">
			<label for="descricaoOrgaoDonatario">Descricao</label>
		    <textarea id="descricaoOrgaoDonatario" class="form-control" rows="3"></textarea>
		</div>
		<div>
			<input type="submit" class="btn btn-success" style="width: 100%;">
		</div>	
	</form>
	<script src="../../assets/JS/orgao-donatario-form-get.js"></script>
	<script src="../../assets/JS/orgao-donatario-post.js"></script>
</body>
</html>