<!DOCTYPE html>
<html
    xmlns:th="http://www.thymeleaf.org"
>
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous"> 
<link href="https://fonts.googleapis.com/css2?family=Handlee&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

</head>
<body>
	<nav class="navbar navbar-dark bg-dark">
		<ul class="nav justify-content-center">
			<li class="nav-item">
			  <a class="nav-link" href="#">Home</a>
			</li>
			<li class="nav-item">
			  <a class="nav-link" href="../admin/produto.html">Produto</a>
			</li>
			<li class="nav-item">
			  <a class="nav-link" href="../admin/orgao-fiscalizador.html">Orgao Fiscalizador</a>
			</li>
			<li class="nav-item">
			  <a class="nav-link" href="../admin/orgao-donatario.html">Orgao Donatario</a>
			</li>
			<li class="nav-item">
			  <a class="nav-link" href="../admin/lote.html">Lote</a>
			</li>
		  </ul>
	  </nav>
	<div style="display: flex; align-items: center; justify-content: center;">  <h2>Formulario de produto</h2> </div>
	<form onSubmit="cadastrarProduto()" id="produto-form" style="margin: 50px;">
		<div class="form-row">
			<div class="form-group col-md-6">
		    	<label for="nomeProduto">Nome</label>
		    	<input id="nomeProduto" type="text"  class="form-control" id="inputNome" placeholder="Nome do Produto">
		   	</div>
		   	<div class="form-group col-md-6">
		      	<label for="quantidade">Quantidade</label>
		      	<input id="quantidade" type="number" class="form-control" placeholder="quantidade">
		    </div>
		</div>
		<div class="form-group">
			<label for="descricaoProduto">Descricao</label>
		    <textarea id="descricaoProduto" class="form-control" rows="3"></textarea>
		</div>
		<div>
			<input type="submit" class="btn btn-success" style="width: 100%;">
		</div>
	</form>
	<script src="../../assets/JS/produto-form-get.js"></script>
	<script src="../../assets/JS/produto-post.js"></script>
</body>
</html>