<!DOCTYPE html>
<html
    xmlns:th="http://www.thymeleaf.org"
>
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous"> 
<link href="https://fonts.googleapis.com/css2?family=Handlee&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

</head>
<body>
	<nav class="navbar navbar-dark bg-dark">
		<ul class="nav justify-content-center">
			<li class="nav-item">
			  <a class="nav-link" href="#">Home</a>
			</li>
			<li class="nav-item">
			  <a class="nav-link" href="../admin/produto.html">Produto</a>
			</li>
			<li class="nav-item">
			  <a class="nav-link" href="../admin/orgao-fiscalizador.html">Orgao Fiscalizador</a>
			</li>
			<li class="nav-item">
			  <a class="nav-link" href="../admin/orgao-donatario.html">Orgao Donatario</a>
			</li>
			<li class="nav-item">
			  <a class="nav-link" href="../admin/lote.html">Lote</a>
			</li>
		  </ul>
	  </nav>
	<div style="display: flex; align-items: center; justify-content: center;">  <h2>Produtos</h2> </div>
	<table id="tabelaProdutos" class="table table-striped table-dark">
		<thead>
	      	<tr>
		        <th scope="col">#</th>
		        <th scope="col">Nome</th>
		        <th scope="col">Descricao</th>
		        <th scope="col">Quantidade</th>
		        <th scope="col"> 
		        	<a href="produto-form.html"><button type="button" class="btn btn-success">Cadastrar</button></a>
		        </th>
	      	</tr>
	    </thead>
	</table>
	<script src="../../assets/JS/produto-get.js"></script>
</body>
</html>